.footer {
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  color: #6c757d;
}

.version {
  color: #6c757d;
} 